# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Windows\Downloads\STOMP_WebSockets_Cinema\STOMP_WebSockets_Cinema\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
